/* styles.css */
body {
    background-color: #000;
    color: #bada55; /* Purple text color */
}

.container {
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #bada55; /* Purple header text color */
}

.form-group {
    margin: 20px 0;
}

.btn-success {
    background-color: #800080; /* Purple button color */
    border-color: #800080;
}

.btn-success:hover {
    background-color: #4b0082; /* Darker purple on hover */
    border-color: #4b0082;
}

select, input {
    width: 100%;
    background-color: #333; /* Dark background for inputs and selects */
    color: #bada55; /* Text color for inputs and selects */
}

#jokes-container {
    margin-top: 20px;
    background-color: #333; /* Dark background for jokes container */
    padding: 20px;
    border-radius: 5px;
}

p {
    text-align: left;
    font-size: 18px;
    margin: 20px 0;
}
